*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-image: url('https://picsum.photos/1400/700');
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.layover{
    width: 100%;
    height: 100vh;
    background-color: rgba(225, 0, 0, 0.5);
}

.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: lightgreen;
    transform: translate(-50%,-50%);
    text-align: center;
}